[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Prepare for shipping to end user
Name[am]=ለመጨረሻው ተጠቃሚ ለመላክ ይዘጋጅ
Name[ar]=جهز للشحن للمستخدم النهائي
Name[ast]=Tresnar la entrega al usuariu final
Name[be]=Падрыхтаваць да адпраўкі канчатковаму карыстальніку
Name[bg]=Подготовка за доставяне на крайния потребител
Name[bn]=ব্যবহারকারীর কাছে পাঠানোর জন্য প্রস্তুত করা হচ্ছে
Name[bs]=Spremi za slanje krajnjem korisniku
Name[ca]=Prepara per a la distribució a l'usuari final
Name[cs]=Připravit pro odeslání koncovému uživateli
Name[da]=Forbered til afsendelse til slutbruger
Name[de]=Vorbereitung zur Auslieferung an den Anwender
Name[el]=Προετοιμασία για παράδοση στον τελικό χρήστη
Name[eo]=Pretigi por sendi al fina uzanto
Name[es]=Preparar para la entrega al usuario final
Name[et]=Valmista ette tarnimiseks lõppkasutajale
Name[eu]=Erabiltzaileari emateko prestatu
Name[fi]=Valmistele loppukäyttäjälle toimittamista varten
Name[fr]=Préparer en vue de l'expédition à l'utilisateur final
Name[ga]=Ullmhaigh le haghaidh seolta don úsáideoir deireanach
Name[gl]=Preparar para a entrega ao usuario final
Name[gu]=અંતિમ વપરાશકાર નાં ઉપયોગ માટે તૈયાર છે.
Name[he]=הכנה למשלוח אל משתמש קצה
Name[hi]=अंतिम प्रयोक्ता को प्रेषण हेतु तैयार
Name[hr]=Pripremi za isporuku krajnjem korisniku
Name[hu]=Felkészítés átadásra a végfelhasználónak
Name[id]=Persiapan mengirim ke pengguna akhir
Name[it]=Preparazione per consegna all'utente
Name[ja]=エンドユーザーへの出荷準備
Name[ka]=მომხმარებლისათვის მიწოდების მომზადება
Name[kk]=Соңғы пайдаланушыға көшіруге (бейімделуге) дайындық
Name[km]=រៀប​ចំ​បញ្ជូន​ទៅ​អ្នក​ប្រើ
Name[ko]=사용자에게 배송할 준비를 합니다
Name[ku]=Ber bi bikarhênerên dawî ji bo guhestinê amade bike
Name[lt]=Parengti išsiuntimui galutiniam naudotojui
Name[lv]=Sagatavot nogādāšanai gala lietotājam
Name[ml]=അവസാന ഉപയോക്താവിന് അയക്കുന്നതിനായി തയ്യാറാക്കുക
Name[mr]=वापरकर्त्याला पाठवण्यासाठी तयार
Name[ne]=अन्तिम प्रयोगकर्ताकहाँ पठाउन तयार गर्नुहोस्
Name[nl]=Voorbereiden voor levering aan eindgebruiker
Name[pa]=ਯੂਜ਼ਰ ਨੂੰ ਭੇਜਣ ਲਈ ਤਿਆਰ
Name[pl]=Przygotowanie do dostarczenia użytkownikowi końcowemu
Name[pt]=Preparar para enviar para o utilizador final
Name[pt_BR]=Preparo para entregar ao usuário final
Name[ro]=Pregătire pentru livrare la utilizatorul final
Name[ru]=Подготовить к отправке конечному пользователю
Name[sk]=Pripraviť na dodanie koncovému používateľovi
Name[sl]=Pripravi za odpremo končnemu uporabniku
Name[sq]=Përgatite për t'ia dërguar përdoruesit
Name[sr]=Припреми за достављање крајњем кориснику
Name[sv]=Förbered för leverans till slutanvändare
Name[ta]=பயனருக்கு அனுப்ப தயார் செய்
Name[th]=จัดเตรียมเพื่อส่งให้ผู้ใช้
Name[tl]=Ihanda ang pagpapadala sa gagamit
Name[tr]=Son kullanıcıya göndermek üzere hazırla
Name[uk]=Підготувати для доставки кінцевому споживачеві
Name[vi]=Chuẩn bị chuyển tới người dùng cuối
Name[zh_CN]=准备寄送给最终用户
Name[zh_TW]=準備傳輸至終端使用者
Exec=oem-config-prepare
Icon=preferences-system
Terminal=false
Categories=GTK;System;Settings;
NotShowIn=KDE;
X-Ubuntu-Gettext-Domain=oem-config
