[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на Подборка самых лучших самообновляемых iptv плейлистов 2017 года
Type=Link
URL=http://smarttvnews.ru/samoobnovlyaemyie-iptv-pleylistyi-2017-goda/
Icon=text-html
